body
{
    background-color:blue;
    
}
.game
{
    width:auto;
    color:white;
    margin-top: 2rem;
    margin-left: 10rem;
    display:flex;
}
.input
{
    height:auto;
    width:25rem;
    margin-left: 7rem;
    /background-color: white;/
    border-radius: 2rem;
}
input{
    height:4rem%;
    width:100%;
    border:none;
   
    font-size: 2.3rem;
}
.favHero
{
   
    font-size:2.5rem;
    margin-left:5rem;
   
}
#suggestionList
{
    height:500px;
    width:400px;
    overflow-y: scroll;
}
.detail
{
    height:250px;
    width:350px;
}
.imga
{
    width:350px;
    height:150px;
}
.imga img{
    width:100%;
    height:100%;
}
#suggestionList::-webkit-scrollbar {
    display: none;
}