body{
    background-color:red;
}
#suggestionList
{
    height:98vh;
    width:98vw;
    background-color: yellow;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
img
{
    height:70vh;
    width:70%;
    background-color: turquoise;
    
}
/* div img{
    height:100%;
    width:100%;
} */